<h1>Crea una cotización</h1>

<mat-stepper (selectionChange)="cambioPasos()">
    <mat-step label="Cliente y marca" state="phone">
        <div class="content-cliente-plantilla">
            <div class="cliente">
                <h4>Seleccione un cliente</h4>
                <select id="listClientes">
                <option value="" *ngFor="let dato of clientes">
                   {{dato.nombreEmpresa}}
               </option>
              </select>
            </div>
            <div class="plantilla">
                <h4>Seleccione una marca</h4>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="botones-fondos" (change)="definirFondos($event)">
                    <mat-button-toggle [value]="data.id" id="marca-{{data.id}}" *ngFor="let data of marcas" [checked]="data.active" [ngClass]="{'marca-visible marca':data.id==0,'marca-no-visible marca':data.id>0}">
                        <img class="img-logo" src="{{data.logo}}" alt="{{data.nombreMarca}}">
                    </mat-button-toggle>
                    <button (click)="verMarcas()" class="button btn-tercero ver-marcas">{{captionButtonVerMarcas}}</button>
                </mat-button-toggle-group>

            </div>
        </div>

        <div class="content-button">
            <button (click)="cargarData()" class="button btn-segundo" mat-button matStepperNext>Siguiente</button>
            <!-- <button class="button btn-segundo" (click)="cargarData()">Siguiente</button> -->
        </div>
    </mat-step>

    <mat-step label="Plantilla y Objetivos" state="chat">
        <div class="content-cliente-plantillas">
            <div style="padding: 20px 0;" class="objetivos">
                <!-- <h4>Seleccione un cliente</h4>
                <select id="listClientes">
                <option value="" *ngFor="let dato of clientes">
                   {{dato.nombreEmpresa}}
               </option>
              </select> -->
                <h4>Seleccione los objetivos</h4>
                <ng-container *ngTemplateOutlet="objetivosGenerales"></ng-container>
                <div class="audiencias audiencias-disabled">

                    <section>
                        <label class="container">General
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                          </label>
                        <label class="container">Honduras
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                        <label class="container">Estados Unidos
                            <input type="checkbox" id="eua">
                            <span class="checkmark"></span>
                          </label>
                        <label class="container">Resto del mundo
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                    </section>
                </div>
            </div>

            <div style="padding: 20px 0;" class="plantillas">
                <h4>Seleccione una plantilla</h4>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="botones-fondos" (change)="obtenerBackground($event)">
                    <mat-button-toggle [value]="data.id" *ngFor="let data of fondos" [checked]="data.active">
                        <img class="img-fondo" src="{{data.background}}" alt="{{data.nombreFondo}}">
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="content-button">
            <button class="button btn-segundo" mat-button matStepperPrevious>Anterior</button>
            <button class="button btn-segundo" mat-button matStepperNext>Siguiente</button>


        </div>
    </mat-step>

    <mat-step label="Seleccionar Clusters">
        <div class="content-productos-entregable">
            <div class="categorias">
                <h4>Seleccione una categoría</h4>
                <mat-button-toggle-group #group="matButtonToggleGroup" (change)="filtrarDatos($event)" name="fontStyle" aria-label="Font Style" class="botones-fondos" multiple>
                    <mat-button-toggle value="AWARENESS" checked="true">
                        <img class="img-categoria" src="../../../../../assets/img/awareness.png" alt="awareness">
                        <br><span>Awareness</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="INTERES">
                        <img class="img-categoria" src="../../../../../assets/img/interes.png" alt="interes">
                        <br><span>Interés</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="INTENCION">
                        <img class="img-categoria" src="../../../../../assets/img/intencion.png" alt="intención">
                        <br><span>Intención</span>
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <div class="content-button">
                    <button class="button btn-segundo" mat-button matStepperPrevious>Anterior</button>
                    <button class="button btn-segundo" mat-button matStepperNext>Siguiente</button>
                </div>
            </div>
            <div class="productos">

                <h4>Seleccione los productos</h4>
                <ng-container *ngTemplateOutlet="tablaClusters"></ng-container>

            </div>
        </div>

    </mat-step>


    <mat-step label="Media mix y pptx">
        <div class="container-media-mix">
            <div class="content-media-mix" *ngIf="activeMediaMixAwareness">
                <h4>Awareness</h4>
                <ng-container *ngTemplateOutlet="tablaMediaMixAwareness"></ng-container>
            </div>
            <div class="content-media-mix" *ngIf="activeMediaMixInteres">
                <h4>Interés</h4>
                <ng-container *ngTemplateOutlet="tablaMediaMixInteres"></ng-container>
            </div>
            <div class="content-media-mix" *ngIf="activeMediaMixIntencion">
                <h4>Intención</h4>
                <ng-container *ngTemplateOutlet="tablaMediaMixIntencion"></ng-container>
            </div>
        </div>

        <div class="content-button">
            <button class="button btn-segundo" mat-button matStepperPrevious>Anterior</button>
            <!-- <button class="button btn-segundo" mat-button (click)="stepper.reset()">Limpiar</button> -->
            <button class="button btn-segundo" mat-button (click)="crearPptx()">Generar</button>
            <!-- <button class="button btn-segundo" mat-button (click)="obtenerMediaMix()">Ver</button> -->

        </div>
        <div class="message-notificacion" *ngIf="mostrarMsg">
            <h2>{{messageNotificacion}}</h2>
        </div>
    </mat-step>

</mat-stepper>

<!-- TABLA DE CLUSTERS -->
<ng-template #tablaClusters>
    <mat-form-field appearance="standard">

        <label for="">Filtrar</label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Términos de búsqueda" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="clusters" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="check">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="form-check">
                        <input name="checkboxClusters" type="checkbox" [id]="element.codigoCluster" class="checkbox{{element.tipoCluster}}">
                    </div>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let element">{{element.codigoCluster}}</td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="tipoCluster">
                <th mat-header-cell *matHeaderCellDef>Tipo Cluster</th>
                <td mat-cell *matCellDef="let element">{{element.tipoCluster}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre Cluster </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreCluster}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="nivel">
                <th mat-header-cell *matHeaderCellDef> Nivel Cluster </th>
                <td mat-cell *matCellDef="let element"> {{element.nivel}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="usuarios">
                <th mat-header-cell *matHeaderCellDef> Usuarios</th>
                <!--Intl.NumberFormat().format-->
                <td mat-cell *matCellDef="let element"> {{element.audiencia.numeroUsuarios}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="region">
                <th mat-header-cell *matHeaderCellDef> Región </th>
                <td mat-cell *matCellDef="let element"> {{element.region}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsClusters"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsClusters;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay resultados para "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100, 200]" aria-label="Select page"></mat-paginator>
    </div>
</ng-template>



<ng-template #objetivosGenerales>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Objetivos Generales
            </mat-panel-title>
            <mat-panel-description>
                Click para ver los objetivos generales
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Select an option" class="objetivos-radio-group" (change)="obtenerObjetivos($event)">
            <mat-radio-button class="objetivos-radio-button" [value]="data.id" *ngFor="let data of objetivos" [checked]="data.active">
                {{data.nombreObjetivo}}
            </mat-radio-button>
            <mat-radio-button class="objetivos-radio-button" id="custom-objetivo" value="5">
                <!-- <input class="input-custom" type="texttarea" name="" id=""> -->
                <textarea name="" id="text-custom-objetivo" cols="30" rows="10"></textarea>
            </mat-radio-button>
        </mat-radio-group>
    </mat-expansion-panel>
</ng-template>

<!-- TABLA MEDIA MIX PRODUCTOS AWARENESS -->
<ng-template #tablaMediaMixAwareness>
    <div class="mat-elevation-z8">
        <table class="table-media-mix" mat-table [dataSource]="awareness" matSort>

            <!-- Symbol Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Media mix</th>
                <td mat-cell *matCellDef="let element">{{element.nombreMediaMix.toLowerCase()}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element;let i = index">
                    <input (keyup)="calcularPrecio($any($event.target))" type="number" class="media-mix-input" name="" id="{{element.idMediaMix}}-input">

                    <!-- <input [(ngModel)]="ngmodelMediaMix[i]" type="number" name="" id="{{element.idMediaMix}}-input"> -->
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="cpm">
                <th mat-header-cell *matHeaderCellDef>CPM</th>
                <td mat-cell *matCellDef="let element"><span>1</span></td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="impresiones">
                <th mat-header-cell *matHeaderCellDef> Impresiones </th>
                <td mat-cell *matCellDef="let element"> <span>1,000</span> </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="tarifa">
                <th mat-header-cell *matHeaderCellDef> Tarifa </th>
                <td mat-cell *matCellDef="let element"><span id="{{element.idMediaMix}}-span-tarifa">{{element.tarifa}}</span></td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total</th>
                <td mat-cell *matCellDef="let element;let i = index"> <span id="{{element.idMediaMix}}-span-total" class="span-total">0.00</span> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsMediaMix"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMediaMix; let i = index"></tr>
        </table>
    </div>
</ng-template>

<!-- TABLA MEDIA MIX PRODUCTOS INTERES -->
<ng-template #tablaMediaMixInteres>
    <div class="mat-elevation-z8">
        <table class="table-media-mix" mat-table [dataSource]="interes" matSort>

            <!-- Symbol Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Media mix</th>
                <td mat-cell *matCellDef="let element">{{element.nombreMediaMix.toLowerCase()}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element">
                    <input (keyup)="calcularPrecio($any($event.target))" type="number" class="media-mix-input" name="" id="{{element.idMediaMix}}-input">
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="cpm">
                <th mat-header-cell *matHeaderCellDef>CPM</th>
                <td mat-cell *matCellDef="let element"><span>1</span></td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="impresiones">
                <th mat-header-cell *matHeaderCellDef> Impresiones </th>
                <td mat-cell *matCellDef="let element"> <span>1,000</span> </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="tarifa">
                <th mat-header-cell *matHeaderCellDef> Tarifa </th>
                <td mat-cell *matCellDef="let element"><span id="{{element.idMediaMix}}-span-tarifa">{{element.tarifa}}</span></td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total</th>
                <td mat-cell *matCellDef="let element;let i = index"> <span id="{{element.idMediaMix}}-span-total" class="span-total">0.00</span> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsMediaMix"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMediaMix;"></tr>
        </table>
    </div>
</ng-template>

<!-- TABLA MEDIA MIX PRODUCTOS INTENCION -->
<ng-template #tablaMediaMixIntencion>
    <div class="mat-elevation-z8">
        <table class="table-media-mix" mat-table [dataSource]="intencion" matSort>

            <!-- Symbol Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Media mix</th>
                <td mat-cell *matCellDef="let element">{{element.nombreMediaMix.toLowerCase()}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element">
                    <input (keyup)="calcularPrecio($any($event.target))" type="number" class="media-mix-input" name="" id="{{element.idMediaMix}}-input">
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="cpm">
                <th mat-header-cell *matHeaderCellDef>CPM</th>
                <td mat-cell *matCellDef="let element"><span>1</span></td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="impresiones">
                <th mat-header-cell *matHeaderCellDef> Impresiones </th>
                <td mat-cell *matCellDef="let element"> <span>1,000</span> </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="tarifa">
                <th mat-header-cell *matHeaderCellDef> Tarifa </th>
                <td mat-cell *matCellDef="let element"><span id="{{element.idMediaMix}}-span-tarifa">{{element.tarifa}}</span></td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total</th>
                <td mat-cell *matCellDef="let element;let i = index"> <span id="{{element.idMediaMix}}-span-total" class="span-total">0.00</span> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsMediaMix"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMediaMix;"></tr>
        </table>
    </div>
</ng-template>