<div class="login-auth-page">
    <div class="login-auth-wrapper">
        <img src="../../../../../assets/img/logo.png" width="150" height="150" alt="">
        <h3>Para continuar, inicia sesión en Midri</h3>
        <div class="login-social-zone">


        </div>
        <div class="separator"></div>
        <form (ngSubmit)="sendLogin()" class="login-auth-form" [formGroup]="formLogin">
            <div class="form-group">
                <label for="email">Dirección de correo o nombre de usuario</label>
                <input (change)="ocultarMsg()" formControlName="email" type="text" placeholder="Dirección de correo" class="form-input">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input (change)="ocultarMsg()" formControlName="password" type="password" placeholder="Contraseña" class="form-input">
            </div>
            <!-- <div class="form-steps">
                <a class="link" href="">¿Se te ha olvidado la contraseña?</a>
            </div> -->
            <div *ngIf="errorSession">
                <span class="errorMessage">Ocurrio un error con tu email o password</span>
            </div>
            <div style="margin-top: 20px;" class="form-action">
                <button [disabled]="formLogin.invalid" class="button btn-segundo login social-btn">Iniciar sesión</button>
            </div>
        </form>
    </div>
</div>