/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --color-1: #2E63E2;
    --color-2: #E80C72;
    --color-3: #7044BA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
}

.card .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
}

.card .card-body {
    padding: 1rem 1.5rem;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button {
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.btn-primero {
    background-color: var(--color-1);
}

.btn-segundo {
    background-color: var(--color-2);
}

.btn-tercero {
    background-color: var(--color-3);
    color: white;
}

.input-custom {
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    height: 30px;
    border: 1px solid #00000063;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0 5px;
}

#custom-objetivo .mat-radio-label .mat-radio-label-content {
    width: 100% !important;
}

.tableClusters td {
    text-transform: lowercase !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    padding-left: 4px !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 4px !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 4px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ng-tns-c149-3 {
    text-align: center !important;
}

@media (max-width:1500px) {
    .container-media-mix {
        grid-template-columns: 1fr 1fr !important;
    }
    .tableClusters {
        width: 100% !important;
    }
}

@media (max-width:1280px) {
    .content-productos-entregable {
        display: flex;
        flex-direction: column;
    }
    .content-productos-entregable .categorias {
        width: 100% !important;
    }
    .categorias .mat-button-toggle-group {
        flex-direction: row !important;
    }
    .categorias .mat-button-toggle-group .mat-button-toggle {
        width: 33% !important;
    }
    .content-productos-entregable .productos {
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width:1200px) {
    .container-media-mix {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width:1180px) {
    .sidenav-collapsed {
        width: 12.5625rem !important;
    }
    .body-trimmed {
        width: calc(100% - 12.5625rem) !important;
        margin-left: 12.5625rem !important;
    }
}